<header class="main-header">
  <div class="company-info" *ngIf="user">
    <span class="company-name">{{ user.companyName }}</span>
  </div>

  <div class="header-actions">
    <div class="user-profile" (click)="isProfileMenuOpen = !isProfileMenuOpen">
      <img class="user-avatar" [src]="getAvatarUrl()" alt="User Avatar" />

      <div class="user-details">
        <div class="name">{{ user?.fullName }}</div>
        <div class="role">ผู้ดูแลระบบ</div>
      </div>
      <i
        class="ti ti-chevron-down profile-arrow"
        [class.rotate]="isProfileMenuOpen"
      ></i>
    </div>

    <div class="profile-dropdown" [class.open]="isProfileMenuOpen">
      <a class="dropdown-item" (click)="logout()">
        <i class="ti ti-logout"></i>
        <span>ออกจากระบบ</span>
      </a>
    </div>
  </div>
</header>
