<div class="dialog-container">
  <div class="dialog-header">
    <h1 class="dialog-title">สร้างเอกสารใหม่</h1>
    <button type="button" class="icon-x" (click)="close()">✕</button>
  </div>

  <div class="dialog-body">
    <div class="dialog-field">
      <label>ประเภทเอกสาร <span class="required">*</span></label>
      <div class="custom-dropdown">
        <button
          class="dropdown-trigger"
          (click)="toggleDropdown('type')"
          [class.active]="opened.type"
        >
          <ng-container *ngIf="!selectedDocType; else selectedTypeTemplate">
            <span class="placeholder">เลือกประเภทเอกสาร</span>
          </ng-container>
          <ng-template #selectedTypeTemplate>
            <div class="selected-item">
              <span>{{ selectedDocType?.name }}</span>
            </div>
          </ng-template>
          <i
            class="ti ti-chevron-down dropdown-arrow"
            [class.rotate]="opened.type"
          ></i>
        </button>
        <div class="dropdown-panel" [class.open]="opened.type">
          <button
            *ngFor="let doc of docTypes"
            class="dropdown-option"
            (click)="selectDocType(doc)"
          >
            <span>{{ doc.name }}</span>
          </button>
        </div>
      </div>
    </div>

    <div class="dialog-field">
      <label>แม่แบบเอกสาร</label>
      <div class="custom-dropdown">
        <button
          class="dropdown-trigger"
          (click)="toggleDropdown('template')"
          [class.active]="opened.template"
          [disabled]="filteredTemplates.length === 0"
        >
          <ng-container *ngIf="!selectedTemplate; else selectedTplTemplate">
            <span class="placeholder">เลือกแม่แบบเอกสาร</span>
          </ng-container>
          <ng-template #selectedTplTemplate>
            <div class="selected-item">
              <span>{{ selectedTemplate?.viewValue }}</span>
            </div>
          </ng-template>
          <i
            class="ti ti-chevron-down dropdown-arrow"
            [class.rotate]="opened.template"
          ></i>
        </button>
        <div class="dropdown-panel" [class.open]="opened.template">
          <div
            *ngIf="filteredTemplates.length === 0"
            class="dropdown-option disabled"
          >
            โปรดเลือกประเภทเอกสารก่อน
          </div>
          <button
            *ngFor="let tpl of filteredTemplates"
            class="dropdown-option"
            (click)="selectTemplate(tpl)"
          >
            <span>{{ tpl.viewValue }}</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="dialog-actions">
    <button
      type="button"
      class="button"
      [disabled]="!selectedDocType"
      (click)="submit()"
    >
      ดำเนินการต่อ
    </button>
  </div>
</div>
