<h1 class="main-title">แดชบอร์ด</h1>

<main class="dashboard-actions">
  <a class="action-card">
    <mat-icon class="action-icon">add_circle_outline</mat-icon>
    <span class="action-label">สร้างแบบฟอร์ม</span>
  </a>
  <a class="action-card">
    <mat-icon class="action-icon">list_alt</mat-icon>
    <span class="action-label">รายการแบบฟอร์ม</span>
  </a>
  <a class="action-card">
    <mat-icon class="action-icon">settings</mat-icon>
    <span class="action-label">ตั้งค่า</span>
  </a>
</main>
